@charset "utf-8";


/*
    Asignment Name: Final project
    Author: Jessica Hite
    Date: 12/05/2023

    Filename:styles.css
*/

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Heading Styles */

/* Navigation Styles */
nav {
    background-color: rgb(56, 7, 89);
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    list-style-type: none;
}

li {
    flex: 1;
}

a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}

a:hover {
    background-color: lavender;
    color: black;
    box-shadow: 0 0 10px rgba(138, 4, 248, 0.5);
}

/* Footer Styles */


/* Media Queries */

@media screen and (max-width: 720px) {
    li {
        flex: 1 0 33%;
        
    }
    ul {
        flex-wrap: wrap;
    }
}
